
<div id="speakerbio" class="container">

  
	<div id="border">
		<img src="http://placehold.it/200x200" height="200" width="200">
	</div>


	<div class="row">
		<div class="col-md-6">

			<div>
				<h3>{{speaker.name}}</h3>
                                <li><strong>Position/Title:</strong>Mr/Mrs/Dr</li>
                                <li><strong>Affiliation/Organization:</strong> {{speaker.affiliation}}</li>
                                <li><strong>Work Phone:</strong> {{speaker.telephone}}</li>
                                <li><strong>Email:</strong> {{speaker.email}}</li>
                                <li><strong>Work:</strong> </li>
			</div>

			<div id="pastevents">
				<h3>Past Events</h3>
				<div>
					<li>Event 1</li>
					<li>Event 2</li>
					<li>Event 3</li>
				</div>
			</div>


		</div>

		<div class="col-md-6">
			<div>
				<h3>Bio</h3>
				<p>{{speaker.bio}}</p>
			</div>
		</div>
	</div>



<!--End-->
</div>


